

    <div class="row top-buffer">
      <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <div class="col-md-6">
      <div *ngIf="token">
        <div class="jumbotron">
          <h4>You are logged in!</h4>
          <br>
          <p> Email: {{token.email}} </p>
          <p> Name: {{token.name}} </p>
          <button class="btn btn-primary" (click)="logout()">logout</button>
      </div>

      </div>
    <div class="row alert alert-danger" *ngIf="formError"> {{formError}} </div>
    <div class="row alert alert-success" *ngIf="registerStatus"> {{registerStatus}} </div>

    <login-component (errorEmitter)="setError($event)"
                     (success)="setLoginStatus($event)"
                     (toggleForms)="toogleForms()"
                     *ngIf="!token && !register" >
    </login-component>

    <register-component (errorEmitter)="setError($event)"
                        (registerStaus)="setRegisterStatus($event)"
                        (toggleForms)="toogleForms()"
                        (success)="setRegisterStatus($event)"
                        *ngIf="!token && register" >
    </register-component>

  </div>
</div>
