<div class="row top-buffer">
<h4>Stocks in database</h4>
<table class="table table-hover top-buffer">
  <thead>
  <tr>
    <th>Name</th>
    <th>Exchange</th>
    <th></th>
  </tr>
</thead>
  <tbody>
  <tr  *ngFor="let stock of stocks">
    <th [routerLink]="['/stocks', stock.id]"> {{stock.name}} </th>
    <th [routerLink]="['/stocks', stock.id]"> {{stock.exchange}} </th>
    <th (click)="makeFavorite(stock)"> <i class="fa fa-heart-o" aria-hidden="true"></i></th>
  </tr>
</tbody>
</table>
</div>
