


<div  *ngIf="stockSymbol">
    <chart-component [stockSymbol]="stockSymbol"></chart-component>
</div>
<div class="row top-buffer">
  <div class="col-md-6">
    <div class="col-md-1"> </div>
    <div class="col-md-11">
      <comment-component *ngIf="stock" [stockId]="stock.id"></comment-component>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-1"> </div>
    <div class="col-md-11">

    <h4>Stock info</h4>
    <ul class="list-group" *ngIf="stock">
      <li class="list-group-item">Name: {{stock.name}}</li>
      <li class="list-group-item">Symbol: {{stock.symbol}} </li>
      <li class="list-group-item">Exchange: {{stock.exchange}}</li>
    </ul>
  </div>
</div>
</div>
