<div class="row top-buffer">
  <div class="col-md-6 offset-md-3">
    
    <div class="input-group top-buffer">
      <input [(ngModel)] = "searchString" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getStocks()"><i class="fa fa-search" aria-hidden="true"></i></button>
     </span>
    </div>
</div>
</div>
<div class="row top-buffer">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Market</th>
    </tr>
    <tr *ngFor="let res of result">
      <th> {{res.name}} </th>
      <th> {{res.symbol}} </th>
      <th> {{res.exchange}} </th>
      <th (click)="addToDatabase(res)"> <i class="fa fa-plus" aria-hidden="true"></i></th>
    </tr>
  </table>
</div>
