<div class="row top-buffer">
  <div class="col-md-3">
  <div *ngIf="stock">
    <h4> Name: {{stock.name}} </h4>
    <h4> Symbol: {{stock.symbol}} </h4>
    <h4> Exchange: {{stock.exchange}} </h4>
  </div>
</div>
  <div class="col-md-9">
    <div  *ngIf="stockSymbol">
    <chart-component [stockSymbol]="stockSymbol"></chart-component>
  </div>
  </div>
</div>
<div *ngIf="stock" class="row">
  <div class="col-md-6">
  <comment-component *ngIf="stock" [stockId]="stock.id"></comment-component>
</div>
</div>
